# Ignore environment files
/.env*

# Ignore logs
/log/*
!/log/.keep

# Ignore temporary/cache files
/tmp/*
!/tmp/.keep

# Ignore bundler config
/.bundle

# Ignore node modules (if you add JS later)
/node_modules

# Ignore system files
.DS_Storetouch log/.keep tmp/.keep
